@import "null.scss";

body {
    font-family: Segoe UI;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 180px;
    position: absolute;
    background: rgba($color: #fff, $alpha: .87);
    &_left {
        padding: 5px 54px;
        a {
            img {
                max-height: 168px;
            }
        }
    }
    &_right {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &_menu-top {
        width: 100%;
        margin-top: 70px;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            li {
                a {
                    font-size: calc(14px + (30 - 14) * ((100vw - 320px) / (1900 - 320)));
                    text-transform: uppercase;
                    color: #433a3a;
                    white-space: nowrap;
                }
            }
        }
    }
    &_contact {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
        a {
            font-size: calc(14px + (28 - 14) * ((100vw - 600px) / (1600 - 600)));;
            color: #0b0a0a;
            &:first-child {
                margin-right: 10px;
            }
        }
    }
}
.slider {
    width: 100%;
    min-height: 739px;
    display: flex;
    align-items: center;
    background: url(../img/slider.jpg);
    background-size: cover;
    &_title{
        padding-left: 6rem;
        padding-top: 11rem;
        font-size: calc(20px + (60 - 20) * ((100vw - 320px) / (1900 - 320)));
        font-weight: bold;
        line-height: normal;
        color: #fff;
        text-align: center;
    }
}
.block_art {
    width: 100%;
    padding: 39px;
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    gap: 60px;
    &-item {
        width: 100%;
        height: 214px;
        display: flex;
        align-items: center;
        padding-left: 200px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba($color: #000, $alpha: .4);
        font-size: 24px;
        color: #433a3a;
        &.art1 {
            background: url(../img/art-1.png) no-repeat 1rem center;
        }
        &.art2 {
            background: url(../img/art-2.png) no-repeat 1rem center;
        }
        &.art3 {
            background: url(../img/art-3.png) no-repeat 1rem center;
        }
    }
}
.block_grid {
    width: 100%;
    padding: 39px;
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-template-rows: repeat( 3, 300px);
    grid-template-areas:
        "b1 b2 b3"
        "b1 b5 b3"
        "b4 b5 b6";
    gap: 35px;
    &-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
        padding: 0 0 20px 20px;
        border-radius: 10px;
        box-shadow: 0 5px 0 rgba($color: #000, $alpha: .2);
        color: #fffeff;
        font-size: 42px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1.3;
        &.item-1 {
            grid-area: b1;
            background: url(../img/img-back-test.png);
            background-size: cover;
        }
        &.item-2 {
            justify-content: center;
            align-items: center;
            grid-area: b2;
            background-color: #c70477;
        }
        &.item-3 {
            grid-area: b3;
            background: url(../img/img-back-test.png);
            background-size: cover;
        }
        &.item-4 {
            grid-area: b4;
            background-color: #c70477;
        }
        &.item-5 {
            grid-area: b5;
            background: url(../img/img-back-test.png);
            background-size: cover;
        }
        &.item-6 {
            grid-area: b6;
            background: url(../img/img-back-test.png);
            background-size: cover;
        }
        .title {
            font-weight: 700;
        }
        .desc {
            font-weight: 500;
        }
    }
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39px;
    &-title {
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: 700;
        color: #433a3a;
        text-transform: uppercase;
    }
    &-form {
        form {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        input[type="text"] {
            width: 457px;
            height: 80px;
            margin-right: 45px;
            border-radius: 15px;
            border: 1px solid #e3ad50;
            text-align: center;
            font-size: 36px;
            color: #000000;
        }
    }

}
.news {
    width: 100%;
    padding: 39px;
    &-title {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 25px;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 700;
        color: #3a3b43;
        a {
            color: #3a3b43;
        }
    }
    &-items {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 546px;
        gap: 50px;
    }
    &-item {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        background: url(../img/img-back-test.png);
        background-size: cover;
        box-shadow: 0 5px 5px rgba($color: #000, $alpha: .2);
        &-desc{
            margin: 0 12px 0 15px;
            padding: 27px 15px;
            border-radius: 0 15px 15px 0;
            background: linear-gradient(#9c57b4, #dca250);
            height: 222px;
            font-size: 26px;
            color: #433a3a;
            span {
                margin-bottom: 15px;
                display: block;
                font-size: 30px;
                color: #433a3a;
            }
        }
    }

}
.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39px;
    &-title {
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: 700;
        color: #433a3a;
        text-transform: uppercase;
    }
    &-items {
        width: 822px;
        counter-reset: slide;
    }
    &-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        counter-increment: slide;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 37px 16px;
        border-radius: 6px;
        border-left: 37px solid #e8007a;
        box-shadow: 0 5px 5px rgba($color: #000, $alpha: .2);
        &-desc {
            margin-bottom: 30px;
        }
        &-date {
            align-items: end;
            display: flex;
            img {
                margin-right: 25px;
            }
        }
    }

}
.maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39px;
    &-title {
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: 700;
        color: #433a3a;
        text-transform: uppercase;
    }
    
}
.footer {

}


